.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-content: center;
    row-gap: 40px;
    justify-content: space-between;
    margin-top: 5vh;
}

.card{
    background-color: rgb(255, 254, 254);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid purple;
    box-shadow: 2px 2px 5px blue;
    margin-left: 2vw;
    margin-right: 2vw;
}

@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }